/* Skills */

.skills{
    padding: 1rem;
}

.skills img{
    padding: 0 0.5rem;
}

.skills b{
    font-size: 1.2rem;
}

.skills p{
    padding: 0.6rem;
}

.languages{
    padding: 1rem;
}

.languages img{
    padding: 0 0.5rem;
}

.languages b{
    font-size: 1.2rem;
}

.languages p{
    padding: 0.6rem;
}

/* Work Experience */

.experience{
    padding: 1rem;
}

.big{
    padding: 1rem;
}

.date1{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #009789;
}

.date2{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #009789;
}

.date3{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #009789;
}

.date1 article{
    height: 1.5rem;
}

.date2 article{
    height: 1.5rem;
}

.date3 article{
    height: 1.5rem;
}

.experience p{
    padding: 0 0 1rem 1rem;
}

.for-padding{
    padding: 1rem 0 0 1rem;
}


/* Education */

.education{
    padding: 1rem;
}

.bigstar{
    padding: 1rem;
}

.education b{
    position: relative;
  bottom: 0.1rem;
  right: 0.7rem;
  padding: 0 0 0 0.5rem;
}

.education p{
    padding: 0 0 1rem 1rem;
}

.date4{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #009789;
}

.date5{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #009789;
}

.date6{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    color: #009789;
}

.date4 article{
    height: 1.5rem;
}

.date5 article{
    height: 1.5rem;
}

.date6 article{
    height: 1.5rem;
}

.education p{
    padding: 0 0 1rem 1rem;
}