@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}



/* --------------------------Header------------------------- */
header{
    position: absolute;
    width: 100%;
    padding: 1rem 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.138);
    z-index: 1;
}

.nav-props{
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

.nav-props img{
    height: 2.5rem;
}

.nav-center ul{
    display: flex !important;
    list-style-type: none;
    color: white;
    position: relative;
    top: 0.535rem;
}

.nav-center ul li{
    padding: 0 0.8rem !important;
    font-size: 0.77rem;
}

.nav-social img{
    height: 2.3rem;
}
/* -------------------Header End----------------------------- */






/* ---------------------------------Main--------------------------- */


/* -----------------------------------Banner-------------------------- */
.banner{
    background-image: url('/Aeroqube/Boons/img/header.png');
    width: 100%;
    height: 53.9rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner div{
    position: relative;
    bottom: 11rem;
}

.banner h1{
    font-size: 3.9rem;
    font-weight: 650;
}

.banner article{
    padding-top: 0.7rem;
    font-size: 1.5rem;
    width: 25rem;
    font-weight: 620;
}
/* --------------------------------Banner End----------------------- */

/* ---------------------------Reviws-------------------------- */

.reviews section{
    width: 68rem;
    padding: 0 1rem;
}

.reviews-heading{
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-heading img{
    height: 2.5rem;
    margin-right: 0.3rem;
}

.reviews-heading h2{
    font-size: 2.8rem;
    font-weight: 750;
    width: 30rem;
}

.reviews-heading figure{
    position: relative;
    right: 1.3rem;
}

.vids{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-bottom: 4rem;
}

.carousel{
    width: 100%;
    padding: 0 0.7rem;
}


.carousel figure{
    margin-bottom: 0 !important;
}

.carousel span{
    font-size: 0.75rem;
}

.carousel div{
    padding: 0.5rem 0;
}

.orange-around{
    background-color: #f46037;
    color: white;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
}

.orange-txt{
    color: #f46037 !important;
    font-weight: 600;
}

.carousel article{
    font-weight: 600;
    font-size: 0.93rem;
}

.text-move{
    color: #f46037 !important;
    font-weight: 600;
}


/* -------------------------------Reviews End----------------------- */

/* -------------------------------Partners-------------------- */

.partners section{
    width: 68rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.partners img{
    width: 6.5rem;
}

/* ----------------------------Partners End------------------------ */

/* ---------------------------Comission------------------------- */

.comission section{
    width: 68rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 1rem 6rem 1rem;
}

.comission img{
    width: 60rem;
    padding: 0 1rem;
}

.text{
    padding: 0 1rem;
}

.text h2{
    font-size: 2.8rem;
    font-weight: 750;
    padding-bottom: 0.5rem;
}

.text article{
    font-size: 1.05rem;
    font-weight: 500;
    padding: 0.6rem 0;
    color: #6c7788;
    line-height: 1.8rem;
}

/* -------------------------Comission End------------------------ */


/* -------------------------------Delivery------------------------ */

.delivery section{
    width: 68rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 5rem 1rem 6rem 1rem;
}

.delivery img{
    width: 65rem;
    padding-right: 3rem;
}

.text-d{
    padding: 0 1rem;
}

.text-d h2{
    font-size: 2.8rem;
    font-weight: 750;
    padding-bottom: 0.5rem;
}

.text-d article{
    font-size: 1.05rem;
    font-weight: 500;
    padding: 0.6rem 0;
    color: #6c7788;
    line-height: 1.8rem;
}

/* -------------------------Delivery End-------------------------- */

/* ------------------------------Data------------------------------- */

.data section{
    width: 68rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 1rem 6rem 1rem;
}

.data img{
    width: 60rem;
    padding: 0 1rem;
}

.text-data{
    padding: 0 1rem;
}

.text-data h2{
    font-size: 2.8rem;
    font-weight: 750;
    padding-bottom: 0.5rem;
}

.text-data article{
    font-size: 1.05rem;
    font-weight: 500;
    padding: 0.6rem 0;
    color: #6c7788;
    line-height: 1.8rem;
}

/* ---------------------------Data End---------------------------------- */


/* -------------------------------Brand----------------------------------- */

.brand section{
    width: 68rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 5rem 1rem 6rem 1rem;
}

.brand img{
    width: 65rem;
    padding-right: 3rem;
}

.text-b{
    padding: 0 1rem;
}

.text-b h2{
    font-size: 2.8rem;
    font-weight: 750;
    padding-bottom: 0.5rem;
}

.text-b article{
    font-size: 1.05rem;
    font-weight: 500;
    padding: 0.6rem 0;
    color: #6c7788;
    line-height: 1.8rem;
}

/* ----------------------------------Brand End----------------------------- */


/* ----------------------------Features------------------------------- */

.features section{
    width: 68rem;
    padding: 0 2rem 8rem 2rem;
}

.features h2{
    font-size: 2.8rem;
    font-weight: 750;
    padding-bottom: 3.7rem;
}

.border1 ,.border2, .border4, .border5{
    border-right: 1px solid rgba(0, 0, 0, 0.147);
}

.border4, .border5, .border6{
    border-top: 1px solid rgba(0, 0, 0, 0.147);
}

.features p{
    font-size: 1.35rem;
    font-weight: 750;
}

.features-content div{
    padding: 1.5rem;
}

.features-content img{
    width: 8.5rem;
}

.para-1{
    position: relative;
    bottom: 0.758rem;
}

.para-5{
    position: relative;
    top: 1.15rem;
}


/* -----------------------------Features End---------------------------- */

/* ------------------------------Customers--------------------------- */

.customers section{
    width: 68rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 4rem 1.5rem;
}

.customers h2{
    font-size: 2.8rem;
    font-weight: 750;
    padding-right: 1rem;
}

.comment-box{
    min-width: 30rem;
    max-width: 30rem;
    height: 19rem;
    border: 1rem solid #fff3ef;
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: 0.9rem;
}

.comment-box img{
    width: 2rem;
    padding-bottom: 0.1rem;
}

.comment-box div img{
    width: 10rem;
    padding: 1rem 0;
}

.customer-profilebox{
    background-image: url('/Aeroqube/Boons/img/quotation.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 7.6rem;
}

.customer-title figure{
    padding-top: 1.5rem;
}

.customer-title figure img{
    margin: 0 0.5rem;
}

/* ------------------------------Customers End--------------------------- */



/* ---------------------------------Footer------------------------------ */

footer{
    background-color: #f34e23;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section{
    width: 68rem;
}

.footer-major{
    padding: 3.5rem 0 1.5rem 0;
    display: flex;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer-social img{
    width: 2rem;
    margin: 0.3rem;
    background-color: #f35d35;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.footer-major ul{
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 2rem;
}

.footer-major article{
    width: 37%;
    font-weight: 300;
    padding: 0 2rem;
    font-size: 0.93rem;
}

.footer-logo img{
    padding: 0 1rem 0 2rem;
}

.footer-major p{
    font-size: 0.9rem;
}

.footer-major div{
    padding: 0 1rem;
}

.footer-minor{
    color: white;
    font-size: 0.78rem;
    padding-bottom: 2.5rem;
    font-weight: 300;
}

.hr-line{
    border-top: 0.1rem solid white;
    width: 100%;
    padding-bottom: 1.5rem;
}




/* -------------------------------Footer End------------------------------- */
